{% extends "base.html" %}
{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">درباره ما</h1>
                    <p class="lead fw-normal text-white-50 mb-0">داستان مارا بشنوید</p>
                </div>
            </div>
        </header>
        
        <br><br>
        <div class="container">
            <div class= "row">
                <center>
                    <div class="col-8">
                        <p align= "justify">
                            مجموعه آهوتا با بیش از ۱۵ سال تجربه زنبورداری در تلاش است تا بهترین محصولات زنبور عسل را با ضمانت نامه، برگه آزمایشگاه و قیمت مناسب بدست هموطنانمان در سراسر کشور برساند. در همین راستا سال ۱۳۹۵ فروشگاه اینترنتی آهوتا را راه اندازی کردیم تا بتوانیم راحت تر با شما در ارتباط باشیم. اگر به دنبال خرید عسل طبیعی یا دیگر محصولات زنبور عسل هستید در خدمت تان هستیم.

                            فروشگاه اینترنتی آهوتا در سال ۱۳۹۵ برای ارائه محصولات طبیعی زنبور عسل راه اندازی گردید و همواره در تلاش است بهترین محصول موجود را با حذف واسطه ها و سود کم به صورت مستقیم از کندو به مصرف کننده برساند که این کار باعث حفظ کیفیت و کسب رضایت هر چه بیشتر عزیزان گردیده است.این مجموعه با ۱۵ سال تجربه زنبورداری، به دنبال نامی زیبنده برای برند خود بعد از صدها پیشنهاد و ماه ها بررسی، کلمه آهوتا که تداعی کننده آهوهای خراسان شمالی می شد انتخاب گردید که این نام نشانگر رابطه عمیق محصولات این مجموعه با طبیعت و تمرکز بر طبیعی بودن، ارگانیک و تعلق داشتن به طبیعت می باشد.
                        </p>
                    </div>
                </center>
            </div>
        </div>
        <br><br>

{% endblock content %}